
/* Header sction css */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.headraper header{
    background-color: rgb(53, 53, 202);
    height: 60px;
}
.headraper header * {
    color: rgb(250, 227, 227);
}
.headraper header .logo{
    
    float: left;
    height: inherit;
    margin-left: 2em;
   
}
.headraper header .logo h1{
  
    margin: 0;
    padding: 0;
    margin: 9px;
   
}
 .headraperspan{
    color: rgb(250, 7, 7);
}
.headraper .nav-div{
    margin: 0;
    padding: 0;
}
.headraper header ul{
    height: inherit;
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.headraper header ul li{
    float: left;
}
.headraper header ul li a{
   display: block;
   padding: 21px;
   font-size: 1.1em;
   text-decoration: none;
   height: inherit;
   

}
.headraper header ul li a:hover{
  background-color: rgb(56, 15, 104);
  transition: 0.5s;
  border-radius: 7px ;
}






/* Design  admin panel Dashboard */

.container{
    display: flex;
    margin: 10px 7px;
}

.sidebar-menu{
flex: 2;
margin: 7px auto;
width: 60%;
background-color: rgb(13, 46, 13);
box-shadow: 0 0 15px 0 #000;
padding: 20px auto;
}

.container .mainsection{
    flex: 8;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

/* sidebar button */
.adminbtn{
    width: 70%;
    margin: 2rem auto;
    padding: 8px;
    display: block;
    background-color: rgb(8, 54, 8);
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    font-size: large;
    text-decoration: none;
    text-align: left;
    
}

.sidebar-menu a:hover{
background-color: rgba(63, 53, 40, 0.863);
}

.noofpost,.noofpage{
    height: 90px;
    width: 270px;
    display: block;
    background-color: blue;
    margin-top: 7%;
    margin-left: 5%;
    color: white;
}
.noofpost p{
    padding-top: 10px;
   text-align: center;
   font-weight: 700;
   font-size: large;
}

/* manage artical */


.post-container{
    
    padding: 20px 30px;
    margin: 30px auto;
    width: 90%;
    background-color: rgb(251, 251, 224);
    box-shadow: 0 0 10px 0 #000;
}

.mainsection .post-container #editor{
    width: 100%;
    display: block;
    margin: 15px auto;
    padding: 8px auto;
}

.mainsection .post-container .category
{
    margin: 10px 2px;
}
.mainsection .post-container label{
    margin: 10px 2px;
}
.mainsection .post-container .category select{
    width: 180px;
    padding: 10px; 
}
.mainsection .post-container .category option{
   font-size: larger;
}

.mainsection .post-container label{
    display: block;
    font-size: large;
}

.mainsection .post-container input{
    width: 100%;
    margin: 10px auto;
    padding: 10px 13px;
    font-weight: 500;
    font-size: large;

}
.mainsection .post-container textarea{
    width: 100%;
    margin: 10px auto;
    padding: 10px 13px;
    font-weight: 400;
    font-size: large;
}

#author input{
    width: 20%;
    margin: 5px auto;
    padding: 7px 8px;
    font-weight: 500;
    font-size: small;

}

.btn{
    width:100%
}
.mainsection .post-container .btn input{
    width: 15%;
    margin: 10px auto;
    padding: 7px 8px;
    display: block;
    background-color: green;
    color: white;
    outline: none;
    cursor: pointer;
}
.mainsection .post-container .btn-save input{
    background-color: deeppink;
    width: 15%;
    margin: 10px auto;
    padding: 7px 8px;
    display: block;
    color: white;
    outline: none;
    cursor: pointer;

}

.mainsection .post-container .imgblog{
    
    display: none;
    margin: 10% 30% auto;
    position: fixed;
    width: 60%;
    background-color: rgb(255, 235, 235);
    height: 70%;
    left: 0;
    z-index: 20;
    top: 0;
    overflow: auto;
   
  
}

.mainsection .post-container .imgblog .close{
    color: rgb(0, 0, 0);
    float: right;
    font-size: 32px;
    font-weight: bold;
    margin: 0 10px 10px;
}

.mainsection .post-container .insertimage #image{
  color: black;
}
.mainsection .post-container .imgblog .close:hover{
   cursor: pointer;
   
}





/* Manage Post */


.mainsection .managepost{
    padding: 20px 30px;
    margin: 30px auto;
    width: 90%;
    background-color: rgb(255, 241, 241);
    box-shadow: 0 0 10px 0 #000;
   
}
.managepost label{
    padding: 10px 20px;
    font-size: x-large;
    font-weight: 500;
}

.mainsection .managepost table{
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    font-size: large;    
    font-weight: 400;
}

.mainsection .managepost th, td{
    padding: 7px;
     text-align: left;
    border: 1px solid black;
}




/*  Category Page */

.add-catugory{
    padding: 20px 30px;
    margin: 30px auto;
    width: 300px;
    background-color: #ffb;
    box-shadow: 0 0 10px 0 #000;

}

.add-catugory label{
    font-size: large;
    padding: 7px 5px;
    color: rgb(0, 0, 0);
    display: block;
    font-style: italic;
}
.add-catugory input {
    outline: none;
    width: 90%;
   padding: 8px 7px;
    display: block;
}
.add-catugory button, .edit-category table .btn-del{
    border: none;
    cursor: pointer;
    background-color: green;
    color: white;
    margin: 10px auto;
    padding: 8px 17px;
    display: block;
}

.edit-category table .btn {
    margin: 0px auto;
    padding: 8px 17px;
    background-color: red;
}


.edit-category table{
    width:70%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: antiquewhite;
    font-size: large;    
    font-weight: 500;

}
.mainsection .edit-category th,td{
    padding: 7px;
    text-align: center;
    border: 1px solid black;
}





/* Image Section */


.mainsection .manageimage{
    /* height: 100vh; */
    width: 90%;
    padding: 20px 30px;
    margin: 30px auto;
    background-color: rgb(240, 208, 121);
    box-shadow: 0px 0 10px 2px rgb(19, 18, 18);
}

.mainsection .manageimage .uplodesection input[type='file']{
    display: block;
    margin: 10px auto;
    padding: 12px 10px;
    font-size: large;
}

.mainsection .manageimage .uplodesection button{

    display: block;
    margin: 10px auto;
    padding: 9px 17px;
    font-size: medium;
    background-color: green;
    color: white;
    outline: none;
    border: none;
}



.mainsection .manageimage .imagesection .row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    height: max-content;

}

.mainsection .manageimage .imagesection .column {
    width: 31.3%;
    padding-bottom: 15px;
}

.mainsection .manageimage .imagesection .column label img {
    width: 90%;
}


[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio]+label img {
    width: 20%;
    cursor: pointer;
    margin: auto auto;
    border: 2px solid black;

}

[type=radio]:checked+label img {
    outline: 2px solid red;
    border: 0px;
}

.mainsection .error #error{
    margin: 20px auto ; 
    padding: 10px 12px;
    border: 1px solid red;
    background-color: rgb(184, 57, 57);
    text-align: center;
    color: white;
    display: block;
    width: 60%;
}










/* manage admin */



.mainsection .registeration{
    width: 400px;
    margin: 30px auto;
    padding: 15px 12px;
    background-color: #ffb;
    box-shadow: 0px 0 10px 0 #000;
    
}


.mainsection .registeration label{
    font-size: large;
    display: block;
    padding: 3px 15px;
    margin: 2px auto;
    width: 100%;

}

.mainsection .registeration input{
    display: block;
    width: 100%;
    padding: 12px 9px;
    margin: 2px auto;
    outline: none;
    font-weight: 500;
}
.mainsection .registeration input[class='submit-btn']{

    margin: 7px auto;
    padding: 9px 9px;
    background-color: green;
    color: whitesmoke;
    font-size: large;
    outline: none;
    border: none;
    cursor: pointer;

}


.mainsection .managepost table input[class='btn-del']{
    background-color: green;    
}